// Typography
//////////////////
body {
  color: $base-font-color;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: 'liga', 'clig', 'kern';
  -webkit-font-feature-settings: 'liga', 'clig', 'kern';
  font-feature-settings: 'liga', 'clig', 'kern';
  background-color: $base-background-color;
}

%small-caps {
  font-family: $meta-serif;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: lowercase;
}

// Headline Styles
//////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $meta;
  font-weight: 700;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.125em;
}

// Link Styles
//////////////////
a {
  color: inherit;
  text-decoration: none;
}
