// Typography
$meta-serif: 'ff-meta-serif-web-pro';
$meta: 'ff-meta-web-pro';
$skolar: 'skolar-latin';
$skolar-sans: 'skolar-sans-latin';
$cordale: 'cordale';
$effra: 'effra';
$aktiv: 'aktiv-grotesk';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.25;
$heading-line-height: 1;
$article-line-height: 1.5;

// Other Sizes
$base-border-radius: 0;
$base-spacing: 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$clr-bg: rgb(247, 245, 240);

$clr-black: rgb(30, 30, 30);
$clr-white: rgb(255, 255, 255);
$clr-gr90: rgb(90, 90, 90);
$clr-gr120: rgb(120, 120, 120);
$clr-gr150: rgb(150, 150, 150);
$clr-gr180: rgb(180, 180, 180);
$clr-gr225: rgb(225, 225, 225);

$clr-mag2: rgb(184, 4, 169);
$clr-mag1: rgb(151, 4, 194);
$clr-prpl: rgb(86, 0, 171);
$clr-bl1: rgb(48, 4, 194);
$clr-bl2: rgb(4, 11, 184);

// Font Colors
$base-font-color: $clr-black;
$action-color: $clr-mag2;

// Background Colors
$base-background-color: $clr-white;
$secondary-background-color: $clr-bg;

// Animations
$base-duration: 200ms;
$base-timing: ease;
$base-transition: all $base-timing $base-duration;
