@import 'normalize';
@import 'variables';
@import 'typography';

div {
  margin: 6.25% 6.25% 12.5%;
}

// 1  duplicate/create html doc
// 2  update title & div class to new font
// 3  add font to _variables
// 4  add font classes to screen.scss
//////////////////

.meta {
  font-size: 1.0625em;
  font-weight: 500;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $meta;
    letter-spacing: -.01em;
  }

  p {
    font-family: $meta-serif;
    letter-spacing: .01em;
  }
}

.skolar {
  @extend %oldstyle;
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $skolar-sans;
    font-weight: 800;
  }

  p {
    font-family: $skolar;
  }
}

.cordale {
  font-size: 1.0625em;
  font-weight: 400;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $effra;
  }

  p {
    font-family: $cordale;
  }
}

.miller {
  font-size: 1.0625em;
  font-weight: 400;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $effra;
  }

  p {
    font-family: $miller;
    letter-spacing: .005em;
  }
}

.newcal {
  @include font-smoothing(subpixel);
  font-size: 1.125em;
  line-height: 1.4;
  max-width: 32em;

  h1,
  h2 {
    font-family: $aktiv;
    font-weight: 900;
    letter-spacing: -.01em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0;
  }

  p {
    font-family: $newcal;
    letter-spacing: .015em;
  }
}

.prensa {
  font-size: 1.0625em;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $franklin;
  }

  p {
    color: $clr-gr60;
    font-family: $prensa;
    // letter-spacing: -.005em;
  }
}

.electra {
  font-size: 1.125em;
  line-height: 1.4;
  max-width: 32em;

  h1,
  h2 {
    font-family: $franklin;
    font-weight: 900;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-weight: 400;
    margin-bottom: $base-spacing;
    margin-top: $small-spacing * -1;

  }

  p {
    font-family: $electra;
    letter-spacing: .025em;
  }
}

.publico {
  font-size: 1.0625em;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $franklin;
  }

  p {
    color: $clr-gr60;
    font-family: $publico;
    letter-spacing: .01em;
  }
}

.sabon {
  font-size: 1.0625em;
  line-height: 1.5;
  max-width: 32em;

  h1,
  h2 {
    font-family: $franklin;
  }

  p {
    font-family: $sabon;
    // letter-spacing: .01em;
  }
}

.minion {
  @extend %oldstyle;
  font-size: 1.1875em;
  line-height: 1.4;
  max-width: 30em;

  h1,
  h2 {
    font-family: $myriad;
    font-weight: 900;
    // letter-spacing: -.01em;
  }

  h2 {
    // font-size: 1em;
    font-weight: 700;
    // letter-spacing: 0;
  }

  p {
    font-family: $minion;
    font-weight: 400;
    // letter-spacing: .01em;
  }
}
